
.media-tudou-preview-wrapper {
  max-width: 100%;
  min-height: 50px;
  position: relative;
}

.media-tudou-preview-wrapper object,
.media-tudou-preview-wrapper iframe {
  max-width: 100%;
  position: relative;
}

.media-tudou-preview-wrapper .js-fallback {
  left: 0;
  margin-top: -0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}
